.sidebar {
  width: 200px;
  /* height: 100px; */
  background-color: #f1f1f1;
  padding: 10px;
}

.sidebar-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  margin-bottom: 20px;
  padding: 15px; /* Increased padding */
  background-color: #85929e;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar-item:hover {
  background-color: #bbb;
}

.sidebar-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ddd;
}

.sidebar-item a span {
  margin-left: 10px;
  font-size: 16px; /* Increased font size */
}

.sidebar-item a svg {
  height: 24px; /* Increased icon size */
  width: 24px; /* Increased icon size */
}
